---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
<meta property="og:title" content="Trustworthy AI Seminar Series" />
<meta property="og:description" content="Trustworthy AI Seminar Series" />
<meta property="og:url" content="https://trust-ai-sem.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://trust-ai-sem.github.io/images/photo.jpeg" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://trust-ai-sem.github.io/images/photo.jpeg" />
  </head>
  <link rel="icon" type="image/png" href="/images/arcreactor.png">
  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    {% include scripts.html %}

  </body>
</html>
